<a href="https://colab.research.google.com/github/lipug/datascience/blob/main/PY003_NFE204_Pandas_requete_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Notre exemple NBA

In [18]:
import pandas as pd
nba = pd.read_csv('https://github.com/fivethirtyeight/data/raw/master/nba-elo/nbaallelo.csv')
type(nba)

pandas.core.frame.DataFrame

# Requêtes sur dataframe pandas

Nous avons vu comment accéder à des sous-ensembles d'un énorme ensemble de données en fonction de ses indices. 
À présent, sélectionnerons des lignes en fonction des valeurs des colonnes. Par exemple, vous pouvez créer un nouveau DataFrame qui contient uniquement les jeux NBA joués après 2010:

In [9]:
current_decade = nba.loc[nba.year_id > 2010]
# current_decade = nba.loc[nba['year_id'] > 2010]
# current_decade = nba[nba.year_id > 2010]
current_decade

        gameorder       game_id lg_id  ...  game_result  forecast notes
113656      56829  201010260BOS   NBA  ...            L  0.264418   NaN
113657      56829  201010260BOS   NBA  ...            W  0.735582   NaN
113658      56830  201010260LAL   NBA  ...            L  0.197632   NaN
113659      56830  201010260LAL   NBA  ...            W  0.802368   NaN
113660      56831  201010260POR   NBA  ...            L  0.485912   NaN
...           ...           ...   ...  ...          ...       ...   ...
126309      63155  201506110CLE   NBA  ...            L  0.546572   NaN
126310      63156  201506140GSW   NBA  ...            W  0.765565   NaN
126311      63156  201506140GSW   NBA  ...            L  0.234435   NaN
126312      63157  201506170CLE   NBA  ...            L  0.481450   NaN
126313      63157  201506170CLE   NBA  ...            W  0.518550   NaN

[12658 rows x 23 columns]

In [10]:
current_decade.shape

(12658, 23)

In [ ]:
# des jeux avec 'notes' (commentaires)
games_with_notes = nba[nba["notes"].notnull()]

In [12]:
ers = nba[nba["fran_id"].str.endswith("ers")]
ers.head()

    gameorder       game_id lg_id  ...  game_result  forecast notes
7           4  194611020PRO   NBA  ...            W  0.640065   NaN
9           5  194611020STB   NBA  ...            W  0.640065   NaN
16          9  194611050DTF   NBA  ...            W  0.393811   NaN
20         11  194611070PRO   NBA  ...            W  0.625446   NaN
22         12  194611070STB   NBA  ...            L  0.660710   NaN

[5 rows x 23 columns]

### Critère multiples

In [17]:
nba.loc[
    (nba["_iscopy"] == 0) &
    (nba["pts"] > 100) &
    (nba["opp_pts"] > 100) &
    (nba["team_id"] == "BLB")
, ["pts", "opp_pts", "team_id"]]

      pts  opp_pts team_id
1726  114      115     BLB
4890  126      105     BLB
4909  104      112     BLB
5208  107      113     BLB
5825  110      111     BLB

# Regroupement et agrégation de vos données
Vous souhaiterez peut-être également découvrir d'autres fonctionnalités de votre ensemble de données, telles que la somme, la moyenne ou la valeur moyenne d'un groupe d'éléments. Heureusement, la bibliothèque Pandas Python propose des fonctions de regroupement et d'agrégation pour vous aider à accomplir cette tâche.

Une série a plus de vingt méthodes différentes pour calculer les statistiques descriptives. Voici quelques exemples:

In [20]:
nba.head(1)

   gameorder       game_id lg_id  ...  game_result  forecast notes
0          1  194611010TRH   NBA  ...            L  0.640065   NaN

[1 rows x 23 columns]

In [21]:
nba.pts.sum()

12976235

In [22]:
nba.pts.mean()

102.72998242475101

In [28]:
nba.loc[nba.pts < 70].groupby("fran_id", sort=False).pts.count()

fran_id
Huskies          35
Knicks          137
Stags            54
Falcons          47
Capitols         71
Celtics         124
Steamrollers     71
Ironmen          45
Bombers         108
Warriors        134
Rebels           25
Baltimore        91
Jets             18
Kings            56
Pistons         107
Lakers           64
Denver           14
Hawks           131
Waterloo         11
Olympians        53
Sixers           49
Packers           7
Redskins         12
Clippers          8
Nuggets          25
Squires           1
Pacers           16
Stars             1
Rockets          10
Bulls            28
Bucks            10
Cavaliers        22
Mavericks        11
Suns              4
Heat             36
Nets             22
Thunder           6
Wizards          14
Pelicans         27
Grizzlies        11
Trailblazers     17
Magic            20
Spurs            10
Raptors          17
Timberwolves      4
Jazz             15
Hornets          15
Name: pts, dtype: int64